<div class="container">
    <div class="row">
        <div class="col-sm-12 mt-5">
            <label for="title">Product Title:</label>
        </div>
        <div class="col-sm-12">
            <input type="text" placeholder="Title" name="title" class="form-control">
        </div>
        <div class="col-sm-12 mt-5">
            <label for="price">Product Price:</label>
        </div>
        <div class="col-sm-12">
            <input type="text" placeholder="Price" name="price" class="form-control">
        </div>
        <div class="col-sm-12 mt-5">
            <label for="category">Product Category</label>
        </div>
        <div class="col-sm-12">
            <select name="category" id="es" class="form-select">
                <option value="javascript" selected>JavaScript</option>
                <option value="php">PHP</option>
                <option value="java">Java</option>
                <option value="golang">Golang</option>
                <option value="python">Python</option>
                <option value="c#">C#</option>
                <option value="C++">C++</option>
                <option value="erlang">Erlang</option>
            </select>
        </div>
        <div class="col-sm-12 mt-5">
            <button type="button" class="btn btn-primary">Search</button>
        </div>
    </div>
</div>